@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Raleway"; }

main {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

header {
  background-color: #181d50;
  padding: 3rem 4rem;
  color: #fff;
  font-size: 3rem;
  text-align: center; }

h1 {
  letter-spacing: 1.2rem; }

.settingsbar {
  background-color: #e9e7e7;
  width: 100%;
  padding: 2rem 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.newGame {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background-color: #181d50;
  color: #fff;
  font-size: 2rem;
  border-radius: 4px; }

.winning-message,
.turn,
.scores {
  font-size: 2rem;
  background-color: #181d50;
  padding: 0.5rem 1.5rem;
  color: #fff; }

.x-score {
  letter-spacing: 1rem;
  margin-right: 1rem; }

.o-score {
  letter-spacing: 1rem;
  margin-left: 1rem; }

.reset {
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.7);
  font-size: 4rem;
  background-color: #fff;
  padding: 1.5rem 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 3s;
  border: 1rem solid rgba(0, 0, 0, 0.85); }

.down {
  transform: translate(100%); }

.none {
  display: none;
  opacity: 0; }

.board {
  width: 60rem;
  height: 60rem;
  background-color: #e9e7e7;
  display: flex;
  flex-direction: column; }
  .board__row {
    flex: 1;
    display: flex; }
  .board__box {
    transition: all 0.4s;
    margin: 1rem;
    flex: 1;
    background-color: #292929;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px; }
    .board__box:hover {
      transform: scale(1.1); }
  .board__check {
    color: #fff;
    font-size: 8rem; }

.btn-player-1,
.btn-player-2 {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #292929;
  color: #fff; }

.green {
  background-color: #24cf4f; }
